<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>
<body>

<header th:replace="fragments/commons :: navigation"></header>

<!-- TODO: fix css-->

<main class="p-5 align-content-center bg-blur">
  <p class="text-light">
    Ups... it seems that we made a small, negligible mistake! <br/>
    Please excuse us, we are working on it...
  </p>

</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
